TIMEZONE=Asia/Kolkata

# For emulating system user. Get using `id` shell command
UID=1000
GID=1000

USERNAME=user
PASSWORD=password
EMAIL=me@email.com
DOMAIN_NAME=me.com
# https://go-acme.github.io/lego/dns/cloudflare/
CF_DNS_API_TOKEN=
CF_TUNNEL_TOKEN=

# Common username for various databases
DB_USERNAME=
# Common username for various databases
DB_PASSWORD=

# sudo apt install pwgen -y && pwgen -s 50 1
AUTHENTIK_SECRET_KEY=